@import 'reset';

.sucesso{
	width: 100px;
	height: 100px;
	background: gold;
}
.dimensoes{
	width:900px;
	height:900px;
	margin: 0 auto;
}
@mixin trocarTamanhoFont(){
	font-size: 30px;
}
div {
    @extend .sucesso;
	@extend .dimensoes;
	@include trocarTamanhoFont();
}